@model BookingPartnerViewModel

<div class="grants">
    <div class="row page-header">
        <h1>Seller Administration</h1>
        <p>
            This is an example page that a seller can see as part of their “settings” pages within the booking system.
            It allows them to control which booking partners are permitted to make bookings via the Open Booking API.
        </p>
    </div>

    <div class="row">
        @if (Model.BookingPartners.Any() == false)
        {
            <div class="alert alert-info">
                You have not given access to any booking partners
            </div>
        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Booking partner</td>
                        <td>Bookings by broker / last 30 days</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bookingPartner in Model.BookingPartners)
                    {
                        <tr>
                            <td>@bookingPartner.ClientName</td>
                            <td>
                                @foreach (var (broker, orderCount) in bookingPartner.BookingsByBroker)
                                {
                                    <div>@broker: @orderCount</div>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-secondary mr-1 ml-1" href="@bookingPartner.ClientUrl" @(string.IsNullOrWhiteSpace(bookingPartner.ClientUrl) ? "disabled" : "")>Manage</a>

                                    @if (bookingPartner.BookingPartner.Registered && !bookingPartner.BookingPartner.BookingsSuspended)
                                    {
                                        <form class="form-inline" action="/booking-partners/suspend" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                                            <button class="btn btn-sm btn-secondary mr-1 ml-1">Suspend Bookings</button>
                                        </form>
                                    }

                                    @if (bookingPartner.BookingPartner.Registered && bookingPartner.BookingPartner.BookingsSuspended)
                                    {
                                        <a class="btn btn-sm btn-secondary mr-1 ml-1" href="@bookingPartner.RestoreAccessUrl" @(string.IsNullOrWhiteSpace(bookingPartner.RestoreAccessUrl) ? "disabled" : "")>Restore</a>
                                    }

                                    @if (!bookingPartner.BookingPartner.Registered || bookingPartner.BookingPartner.BookingsSuspended)
                                    {
                                        <form class="form-inline" action="/booking-partners/remove" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                                            <button class="btn btn-sm btn-secondary mr-1 ml-1">Remove</button>
                                        </form>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>